.row{
    margin-bottom: 0;
}
.background-main{
    /* background-image: url("./assets/Main.png");
    background-size: cover;
    height: 600px; */
    position: relative;
}
#background-main-img {
    width: 100%;
    height: auto;
    min-height: 600px;
    min-width: 800px;
}
#main-header {
    position: absolute;
    top: 10%;
    left: 18%;
}
.title-main {
    color:#47525E;
    font-size: 3.5rem;
    line-height: 110%;
    margin: 7rem 0 1rem 0;
    font-weight: 400;
}
.flow-text{
    color: #47525E;
    font-size: 1.8rem;
    margin-bottom: 8px;
}
.button-main{
    padding: 0 16px;
    font-size: 18px;
    border-radius: 12px;
    font-weight: bolder;
}
.search-bar{
    margin-top: 9.5rem;
    background-color: #ffffff;
    border: 1px solid #8492A6;
    border-radius: 8px;
}
.input-field{
    padding: 0 25px 0px 0px;
    margin-bottom: 0px;
}
.input-field>label{
    font-size: 1.3rem;
}
.input-field input[type=text]{
    border-bottom: 1px solid #8492A6;
    box-shadow: none;
    width: 94%;
}
.input-field input[type=text]:focus:not{
    border-bottom: none;
    box-shadow: none;
}
.input-field .prefix.active {
    color: #ffffff;
}
.input-field .prefix{
    color: #ffffff;
    background-color: #ff5252;
    font-size: 3.5rem;
    width: 3.5rem;
    border-radius: 8px;
    top: -0.4rem;
    right: -0.2rem;
}
.background-section{
    background-color: #FCFAF3;
}
.title-section{
   color: #47525E;
   border-top: 0;
   font-weight: 700;
}
.title-section_line{
    border-bottom: 5px solid #ff5252;
    color: #ff5252;
}
#section-favorites .card {
    border-radius: 5%;
}
#section-favorites .card .card-image .responsive-img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
#section-favorites .card .card-title {
    font-weight: bold;
    font-size: 30px;
    color: #47525E;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 1%;;
} 
#section-favorites .card p {
    color: #969FAA;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 1%;;
}
/* Carrusel */
a {
    cursor: pointer;
}
.carousel-paises {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.carousel-paises {
    display: flex;
    justify-content: space-around;
    height: 350px;
}
.carousel-paises .c-item {
    display: none;
    display: flex;
    justify-content: space-around;
}
#car-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#car-btns {  
    display: flex;
    align-items: center;
    justify-content: center;
}
#prev, #next {
    cursor: pointer;
    user-select: none; 
    color: #ff5252;
}
/* Fin Carrusel */

.card.horizontal .card-image {
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    left: 1rem;
}
#flag {
    border-radius: 5%;
}
.background-sectionImg{
    background-color: #ffffff;
}
#about-section .flow-text{
    font-weight: bold;
    font-size: 30px;
    color: #47525E;
}
#about-section li{ 
    color: #969FAA;
}
#about-section a{ 
    color: #969FAA;
}
.background-footer{
    background-color: #ff5252;
}
.footer-text{
    color: #ffffff;
}
.footer-img{
    display: flex;
    align-items: center;
}
.footer-iconoMX{
    height: 20px;
    margin-left: 8px;
}

.header{
    background-color: #ff5252;
    color: white;
    font-weight: 700; 
    font-size: xx-large;  
    border: blue;
    padding: 20px;
}

.search-field{
    margin:auto;
    max-width: 50%;    
    background-color: whitesmoke;    
}

.search-input{
    min-width: 50%;
    display: flex;
    flex-direction: column;
}

.input-container{
    margin: 50px 100px 50px 50px;
}

.test-input-cont{
    margin: auto;
    max-width: 50%;
    background-color: lawngreen;
}

.search-block{
    background-color: green;
    color: blue;
}

